* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: whitesmoke;
    font-weight: 800px;
    line-height: 1.3em;
    margin: 0;
    background-image: url(zz.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    width: 36.5%;
    margin: auto;
}
.btn{
    background-color:darkred;
    font-size: 20px;
    font-weight: 700;
    color: black;
    border: none;
    padding: 10px 20px;
    width: 250px;
}
.btn:hover{
    opacity: 0.8;
}
a:hover{
    color: red;
}
.form {
    background-color: black;
    color: brown;
    font-size: 18px;
    line-height: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    border: 4px solid darkred;
    padding: 60px;
    margin: 60px;
}

.error {
    background-color:red;
    color: black;
    padding: 10px 10px ;
    font-size: 20px;
}

.form label{
    font-size: 20px;
    font-weight: 600;
}
input[type=text],input[type=password],input[type=email],input[type=password],
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid brown;
    box-sizing: border-box;
  }
  



